@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,700;1,700&family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray-100: #F5F5F5;
    --gray-200: #E0E0E0;
    --gray-500: #616161;
    --gray-900: #212121;

    --blue-100: #EEF5FF;
    --blue-300: #DBE5F3;

    --red-100: #FFEBEE;
    --red-300: #F07777;
    --red-500: #E35151;
    --red-900: #8F1B1B;

    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-hover: #272727;

    --cor-background-red: #F4E7E7;
    --cor-background-blue: #DBE5F3;
    --cor-rodape: #626974;

    --font-titulos: "Georama", sans-serif;
    --font-paragrafos: "Inter", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    background-color: var(--cor-background-red);
    color: var(--cor-primaria);
}

a{
  text-decoration: none;
}

.botao_primario {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--red-300);
    color: #fff;
    font-family: var(--font-paragrafos);
    cursor: pointer;
  
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .botao_primario:hover {
    background-color: var(--red-500);
  }