@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,700;1,700&family=Inter&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #F07777;
    --cor-hover: #272727;
    --cor-background: #F4E7E7;
    --cor-quemSomos: #DBE5F3;
    --cor-rodape: #626974;

    --font-titulos: "Georama", sans-serif;
    --font-paragrafos: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-background);
    color: var(--cor-primaria);
}

.cabecalho{
    padding: 0% 5%;
    height: 13vh;
    background-color: var(--cor-terciaria);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cabecalho h1{
    font-family: var(--font-paragrafos);
    font-size: 2rem;
}

.cabecalho__menu{
    display: flex;
    gap:5%;
    font-size: 1.5rem;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 50%;
}

.cabecalho__menu__link{
    font-family: var(--font-paragrafos);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.cabecalho__menu__link_2{
    background-color: #000;
    padding: 15px 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--font-paragrafos);
}

.apresentacao{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
    height: 86.4vh;
}   

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-titulos);
}

.titulo-principal{
    font-size: 3rem;
    font-family: var(--font-titulos);
    padding-left: 25%;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    flex-direction: column;
    text-align: justify;
}

.apresentacao__conteudo__texto__1{
     font-size: 1rem;
     font-family: var(--font-paragrafos);
     flex-direction: column;
     text-align: center;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--font-titulos);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    background-color: #000;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 30%;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--font-paragrafos);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.apresentacao__img-imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CSS DO CONTEXTO DO JOGO */

h3 {
    color: var(--cor-primaria);
    text-align: center;
    font-size: 50px;
}

.apresentacao__links__navegacao {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    
}
.apresentacao__links__navegacao:hover {
    background-color: #333;
}

body {
    background-color: #F8F8F8;
}

.container {
    width: 100%;
}

h3 {
    font-family: var(--font-titulos);
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin: 0 0 px;
    padding: 50px 80px;
}

.intro {
    margin-bottom: 20px;
    background-color: #F3E5E5;
    padding: 20px;
    margin: 0 0 0px;
}

.intro-content, .description-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro-text, .description-text {
    width: 60%;
    padding: 20px 80px;
}

.intro-text p, .description-text p {
    font-family: var(--font-paragrafos);
    font-size: 2rem;
    color: #000000;
    line-height: 1.5em;
}

.intro-image, .description-image {
    width: 30%;
    padding: 10px 80px;
    border-radius: 10px;
}

.intro-image img, .description-image img {
    width: 100%;
    border-radius: 47px;
    box-shadow: -10px 10px 10px rgba(51, 51, 51, 0.4); 
}

.characters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(152, 180, 241, 0.521);
}

.character {
    width: 30%;
    text-align: center;
}

.character img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #00000088;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-style: dashed;
}

/* CSS DA EMPRESA */

.empresa_apresentacao {
    width: 100%;
    height: 589px;
    background: var(--cor-quemSomos);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
}

.empresa_texto {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-left: 9.5%;
}

.empresa_subtitulo {
    font-family: var(--font-titulos);
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.empresa_paragrafo {
    font-family: var(--font-paragrafos);
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
}

.empresa_foto {
    width: 495px;
    height: 495px;
    padding-right: 5%;
}

/* CSS DO RODAPÉ */

.rodape_logos {
    display: flex;
    justify-content: center;
    background-color: var(--cor-rodape);
    gap: 55px;
}

.logo_trilhas {
    width: 200px;
    height: 100px;
    padding: 2.5% 2%;
}

.logo_secti {
    width: 406px;
    height: 106px;
    padding: 2%;
}

.logo_fapema {
    width: 245px;
    height: 95px;
    padding: 2%;
}
