*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --gray-100: #F5F5F5;
    --gray-200: #E0E0E0;

    --blue-100: #EEF5FF;
    --blue-300: #DBE5F3;

    --red-100: #FFEBEE;
    --red-500: #E35151;
    --red-900: #8F1B1B;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--red-100);
}

form{
    width: 100%;
    margin: 0rem 8rem;
    padding: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow-y: scroll;
    height: 80vh;
}



.field-question > input, .field-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    /* background: var(--gray-100); */
    cursor: pointer;

}

.field-question > input:focus {
    outline-color: red;
}

.field-input:focus {
    outline-color: var(--red-500);
}

input:focus, label:focus{
    outline: none;
    focus: none;
}

.field-question{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field-question > label{
    font-weight: bold;
}

.field-input{
    display: flex;
    justify-content: flex-start;
    direction: row;
    align-items: center;
    gap: 8px;
    
    width: 100%;
    height: 40px;
}

.field-question > input:hover, .field-input:hover, .is-selected{
    background: var(--blue-100);
}

.field-input:hover > label{
    cursor: pointer;
}